
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>欢迎</title>
</head>
<body>
    <div style="margin-left:10px;margin-right:10px;"> 
        <h1 style="text-align:center;color:black;font-size:20px"><a href="http://www.gosafenet.com" target="_Blank" style="color:black;font-size:20px">联桥网云</a>•开放平台</h1>
        <br />
        <p style="line-height:30px;color:#767676;font-size:14px;">&nbsp;&nbsp;欢迎使用联桥网云开放平台，我们为您提供一种更加便捷、安全、可靠的物联网设备与应用云平台的连接方式。
       在“万物互联网”时代，为传感器设备厂商、应用云平台开发商、解决方案提供商和终端用户提供有效服务。联桥网云开放平台提供出的接口涵盖工业、农业、服务业等多种行业，简化您在应用平台开发过程中面对的繁琐数据交换过程。<br />
            &nbsp;&nbsp;联桥网云•开放平台为第三方应用提供接入联桥网云信息平台的方法，第三方应用可在熟悉开放平台的基础上进行注册、登录、
        申请接口等操作，如有任何问题可致电联桥网云，向工作人员寻求帮助。
         </p>
    </div>
</body>
</html>
