@using SensorNetwork.Data.Models;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Top</title>
    <style type="text/css">
        /*整体距离窗口的边距*/
        *{
            margin:0px;
            font-family:"细圆"
        }
        /*logo div*/
        #logo{
            position:absolute;
            float:left;
            width:20%;
            height:88px;
           
        }
       #navMenu{
            position:absolute;
            float:left;
            left:20%;
            width:80%;
            height:88px;
       
        }
         /*登录信息div*/
        #msg{
            /*border:1px solid red;*/
            height:30px;
            right:100px;
            margin-top:50px;
            float:right;
        }
        #msg a{
            margin-right:20px;
            text-decoration:none;
            font-size:16px;
 
        }
        #msg span{
            font-size:16px;
        }
        #msg a:link{
            color:#467ca2;
            font-size:17px;
        }
        #msg a:visited{
            color:#467ca2;
        }
        #msg a:hover {
                color: #CF0000;
                text-decoration: underline;
                font-weight: bold;
        }

        .userOption{
            margin:5px auto;
            width:65px;
        }
        .userOption a{
            display:block;
            width:65px;
            height:26px;
            border:none;
            text-align:center;
        }
          .userOption a:hover{
              color:#467ca2;
              font-size:14px;
              font-weight:normal;
          }

        .color {
            color: #3399CC;
            text-decoration: none;
            font-weight: bold;
        }
            /*链接设置*/
            .color:visited {
                color: #3399CC;
                text-decoration: none;
                font-weight: bold;
            }
            /*访问过的链接设置*/
            .color:hover {
                color: #CF0000;
                text-decoration: underline;
                font-weight: bold;
            }
        /*鼠标放上的链接设置*/
       .optionDiv{
           clear:both;
           border:1px solid #808080;
           width:100px;
           height:68px;
           margin-left:75%;
           background-color:#e1ecf5;
       }
       .optionDiv a{
           height:34px;
           font-size:14px;
           display:block;
           line-height:34px;
       }

       .show, .edit{
           
           display:block;
           width:100px;
           height:25px;
           text-align:center; 
       }
       a.show:hover{
           color:#467ca2;
           font-size:14px;
           font-weight:bold;
           cursor:pointer;
       }
       a.edit:hover{
          color:#467ca2;
           font-size:14px;
           font-weight:bold;
           cursor:pointer;
       }
     
 
    </style>
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <link href="~/Scripts/dialog/ui-dialog.css" rel="stylesheet" />
    <script src="~/Scripts/dialog/dialog.js"></script>
    <script src="~/Scripts/artDialog/artDialog.js?skin=blue"></script>
    <script src='~/Scripts/artDialog/plugins/iframeTools.source.js' type="text/javascript"></script>
    <script src='~/Scripts/artDialog/plugins/iframeTools.js' type="text/javascript"></script>
    <script type="text/javascript">

        $(function () {

            var isValid = $("#hidden").val()
            if (isValid == "zero") {
                art.dialog({
                    lock: true,
                    drag: false,
                    background: '#000',
                    opacity: 0.6,
                    icon: 'warning',
                    title: '提示',
                    content: '请选择接口',
                    ok: function () {
                    },
                    cancel: false
                });
            }

            $("#navMenu").mouseleave(function () {
                RemoveOption();
            })
        })

        function ShowOption() {
            RemoveOption();

            $(document).ready(function () {

                $("#navMenu").append("<div class='optionDiv'><a class='show' style='border-bottom:1px solid gray;'>查看个人信息</a><a class='edit' >修改个人信息</a></div>")

                $(".show").on("click", ShowUserMsg);

                $(".edit").on("click", EditUserMsg);
               
            });
         
        }

        function RemoveOption() {
            var parent = document.getElementById("navMenu");
            var child = document.getElementsByClassName("optionDiv");
            if (child.length != 0) {
                parent.removeChild(child[0]);
            }
        }

        function ShowUserMsg(event) {

                var page = '/User/ShowUserMsg';
                art.dialog.open(page, {
                    lock: true, //锁屏
                    drag: false,
                    background: '#D8D8D8', // 背景色
                    opacity: 0.87, // 透明度
                    top: '15%',
                    title: '查看个人资料',
                    width: '600px',
                    id: Math.random(),
                    close: function () {
                    }
                }, false);
        }
        function EditUserMsg(event) {
            var page = '/User/EditUserMsg';
            art.dialog.open(page, {
                id:"eidtAlert",
                lock: true, //锁屏
                drag: false,
                background: '#D8D8D8', // 背景色
                opacity: 0.87, // 透明度
                top: '15%',
                title: '修改个人资料',
                width: '750px',
                height: '650px',
                id: Math.random(),
                close: function () {
                }
            }, false);
        }

    </script>
</head>
<body>
   
        <div style="position:relative;height:86px;width:60%;margin:0 auto;">
            <div id="logo"><img src="~/Content/images/logo_blue.jpg" style="height:60px;padding-left:10px;padding-top:13px;" /></div>
            <div id="navMenu">
                <div id="msg">
                    @if (ViewData["AccessID"] != null)
                    {
                        var platForm = ViewData["Platform"] as ApplyCloudPlatform;
                        <span style="margin-right:20px;color:#467ca2">欢迎您！<a href="javascript:;" id="user" onclick="ShowOption();">@ViewData["AccessID"]</a></span>
                        <a href="/User/Exit" target="_parent">退出</a>
                    }
                    else
                    {
                        <a href="/User/Login" target="_parent">登录</a>
                        <a href="/User/Register" target="_parent">注册</a>
                    }
                </div>

                @if (ViewData["interCount"] != null)
                {
                    <input type="hidden" value="@ViewData["IsValid"]" id="hidden" />
                }
            </div>
        </div>
</body>
</html>
