
@{
    ViewBag.Title = "连接蓝牙设备";
}

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="margin-left:10px;margin-right:10px;">
        <h5>当前位置：可用接口->网关命令控制->连接设备        </h5>
        <br/>
        <p>            1.功能描述：        </p><fieldset>
<pre>通过本接口可以连接配对指定蓝牙设备。</pre>
        </fieldset>
        <br />
        <p>            2.接口地址：        </p>
        <fieldset>
            <pre>http://www.gosafenet.net/api/gateway/Bluetooth/Connection</pre>
        </fieldset>
        <br />
        <p>                    3.说明：                </p>
        <fieldset>
            <p>(1).调用方法POST</p>
            <p>
                (2).参数说明：<br />
                &nbsp;&nbsp;1）Gateway_Id：网关Id<br />
                &nbsp;&nbsp;2）UID：蓝牙设备UID<br />
                &nbsp;&nbsp;3）MAC：蓝牙设备MAC地址<br />
                &nbsp;&nbsp;4）PinCode_Len：Pin码长度<br />
                &nbsp;&nbsp;5）PinCode：Pin码<br />
            </p>
            <p>
                (3).POST数据包格式示例<br />
                {<br />
                &nbsp;"GatewayID": "sample string 1",<br />
                &nbsp;"UID": "sample string 2",<br />
                &nbsp;"MAC": "sample string 3",<br />
                &nbsp;"PinCode_Len": 64,<br />
                &nbsp;"PinCode": "sample string 5"<br />
                }<br />
            </p>
        </fieldset><br />



        <p>                    4.返回说明：                </p>
        <fieldset>
            <p>返回结果以JSON格式输出，其中，"Success"表示操作成功，"Code"表示返回代码，"Result"表示结果，返回true/false，"Error"表示错误信息，支持HTML。</p>
            <p>例如：</p>
            <pre>{
  "Success": true,
  "Code": 2,
  "Result": true,
  "Error": "sample string 4"
}
</pre>
        </fieldset>


    </div>
</body>
</html>

