
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>正在建设中...</title>
</head>
<body>
    <div style="margin-left:10px;margin-right:10px;">
        <h5>当前位置：开始前必读->接口权限说明        </h5>
        <br />
        <fieldset>
            <p style="line-height:30px">
                第三方应用在开放平台中申请的接口属于私有接口，放心使用的同时，请勿泄漏。<br />
                （1）在注册页面填写您必要的信息，选择您需要何种行业（农业、工业、服务业）的接口。特别注意填写的Http接口，该接口地址是联桥网云信息平台主动发送数据到您平台的唯一通道，请务必填写正确。<br />
            </p>
        </fieldset><br />
            <fieldset>
                <p>

                    （2）联桥网云信息平台主动发送的数据是以Json包的形式，其格式统一说明如下。对不同的设备，其中Result中的数据个数是灵活可变的<br />
                    
                </p><br />

        </fieldset><br />

    </div>
</body>
</html>
