
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div> 
        <form name="myform" id="myform" method="post">
            <p></p>
            <p style="text-align:center"><label>请输入访问密码:</label><input type="text" id="pwd" name="pwd"/><input type="submit" value="提交" /></p>
        </form>
    </div>
</body>
</html>
