
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>正在建设中...</title>
</head>
<body>
    <div style="margin-left:10px;margin-right:10px;">
        <h5>当前位置：开始前必读->数据描述        </h5>
        <br />
        <fieldset>
            <p style="line-height:30px">
                Json数据包的Result数据个数是灵活可变的，其中“TestResult”表示数据值，“TestResultDesc”表示数据描述。
                “TestResultDesc”由开放平台与第三方应用商共同协商认定后，就能够判断“TestResult”是何种测试数据。<br />
            </p>
        </fieldset><br />
        <fieldset>
            <p style="line-height:30px">
                例如开放平台中含有以下数据描述，若第三方应用商需要增加特有数据描述，可与联桥网云联系。<br />
                "Temperature"表示温度(非电机)<br />
                "Humidity"表示湿度<br />
                "Pulse"表示脉搏<br />
                "BloodPressureDiastolictolic"表示舒张压<br />
                "BloodPressureSystolic"表示收缩压<br />
                "BloodOxygen"表示血氧<br />
                "BloodSugar"表示血糖<br />
                "VoltageA"表示电压A(电机)<br />
                "VoltageB"表示电压B(电机)<br />
                "VoltageC"表示电压C(电机)<br />
                "AmpereA"表示电流A(电机)<br />
                "AmpereB"表示电流B(电机)<br />
                "AmpereC"表示电流C(电机)<br />
                "Rate"表示功率因素(电机)<br />
                "Temperature0"表示温度0(电机,板子温度)<br />
                "Temperature1"表示温度1(电机,绕组A温度)<br />
                "Temperature2"表示温度2(电机,绕组B温度)<br />
                "Temperature3"表示温度3(电机,绕组C温度)<br />
                "Temperature4"表示温度4(电机,定子温度)<br />
                "Temperature5"表示温度5(电机,端部温度)<br />
            </p>
        </fieldset><br />
        
        
        

    </div>
</body>
</html>
