
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>正在建设中...</title>
</head>
<body>
    <div style="margin-left:10px;margin-right:10px;">
        <h5>当前位置：建设中页面        </h5>
        <p>
           
        </p><fieldset>
<pre>正在建设中，敬请期待...</pre>
        </fieldset>
    </div>
</body>
</html>
